@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

body {
  font-family: "Inter", sans-serif;
  background-color: #0a1f2d;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  min-height: 100vh;
}

.logo,
.auth-logo {
  filter: drop-shadow(0 0 10px rgba(20, 232, 194, 0.7));
  transition: transform 0.2s ease-in-out, filter 0.2s ease-in-out;
}

.logo:hover,
.auth-logo:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 0 20px rgba(20, 232, 194, 0.7));
}

h1 {
  color: #e0efff;
}

img {
  width: 250px !important;
  height: 250px !important;
}
